<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQb6motl7CX2Mi7Mvnv7Kn9H-4zrjEel4</string>
	<key>GCM_SENDER_ID</key>
	<string>899266764164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapNoteMobileRN</string>
	<key>PROJECT_ID</key>
	<string>mapnotern</string>
	<key>STORAGE_BUCKET</key>
	<string>mapnotern.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899266764164:ios:8a38d969e18de42c6ed1d1</string>
</dict>
</plist>